lockfile==0.9.1
gunicorn
Coffin==0.3.8
colorama==0.3.7
configparser==3.5.0
Django==1.6.2
django-oauth2-provider==0.2.6.1
docutils==0.12
future==0.15.2
futures==3.0.5
Hamlish-Jinja==0.3.3
isort==4.2.5
Jinja2==2.8
jmespath==0.9.0
lazy-object-proxy==1.2.2
MarkupSafe==0.23
mccabe==0.6.1
netaddr==0.7.18
Pillow==3.3.0
pyasn1==0.1.9
pycodestyle==2.3.1
Pygments==2.1.3
pylint==1.6.5
python-dateutil==2.6.0
python-memcached==1.53
PyYAML==3.11
qingcloud-cli==1.1.0
qingcloud-sdk==1.0.8
qingstor-sdk==2.0.2
qsctl==1.2.3
requests==2.10.0
rsa==3.4.2
s3transfer==0.1.10
shortuuid==0.4.3
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
Sphinx==1.2.2
sphinxcontrib-fulltoc==1.1
tornado==4.4.3
M2Crypto
pymongo==3.4
